@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_APPLoginPartial.cshtml";
}


<h3 class="font-green">A email has been send to your <b>email address</b>. Please check for the email and click on the included link to reset your password.</h3>
<div class="form-actions">
    <a href="@Url.Action("Login","Account")">
        <button type="button" id="back-btn" class="btn green btn-outline">Back to Login </button>
    </a>
</div>


