

@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_APPLoginPartial.cshtml";
}


<h3 class="font-green">Password was reset successfully.</h3>
<div class="form-actions">
    <a href="@Url.Action("Login","Account")">
        <button type="button" id="back-btn" class="btn green btn-outline">Back to Login </button>
    </a>
</div>